/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.new-task__section {
  display: flex;
}

.new-task__input {
  width: 318px;
  display: inline-block;
  flex-grow: 1;
}

.new-task__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.list-section__list {
  margin: 0;
  padding: 0px;
  list-style: none;
}

.input,
.button {
  outline: none;
}

.list-section__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.new-task__button:hover,
.list-section__button:hover {
  color: #3a3a3a;
}

/* Heading */
.list-section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.new-task__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
  display: block;
  margin: 0 0 20px;
}

.list-section__input {
  width: 226px;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  display: inline-block;
  flex-grow: 1;
}

.list-section__input:focus {
  color: #333;
}

/* Task list */
.list-section__list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-section__checkbox {
  margin: 0 10px;
}

.list-section__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  display: inline-block;
  flex-grow: 1;
}

.list-section__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.list-section__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.list-section__label_complete {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list-section__input {
  display: none;
}

.list-section__list-item_edit-mode .list-section__input {
  display: inline-block;
  width: 224px;
}

.list-section__list-item_edit-mode .list-section__label {
  display: none;
}